@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
   box-sizing: border-box;
}
/*declare variables*/
:root{
   --line-fill:rgb(0, 255, 183);
   --line-empty:#e0e0e0;
}
body{
   background-color: rgb(255, 255, 255);
   font-family:'Muli',sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0;
   overflow: hidden;
   height: 100vh;
}
.container{
   text-align: center;
}
.progress_container{
   display: flex;
   justify-content: space-between;
   position: relative;
   margin-bottom: 20px;
   width: 350px;
}
.progress_container::before{
   content: '';
   background-color:var(--line-empty) ;
   position: absolute;
   top: 50%;
   left: 0;
   height: 4px;
   width: 100%;
   transform: translateY(-50%);
   z-index: -1;
}
.progress{
   background-color:var(--line-fill);
   position: absolute;
   top: 50%;
   left: 0;
   height: 4px;
   width: 0%;
   transform: translateY(-50%);
   z-index: -1;
   transition: 0.4s ease;
}
.circle{
   background-color: #fff;
   color: #999 ;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border:3px solid var(--line-empty);
   transition: 0.4s ease;
}
.circle.active{
border-color:var(--line-fill) ;
}
.btn{
   background-color: var(--line-fill);
   border:0;
   color:#fff;
   padding: 6px 25px;
   margin: 5px;
   cursor: pointer;
   border-radius: 5px;
   font-family: inherit;
   font-size: 15px;
}

.btn:active{
   transform: scale(0.97);
}
.btn:focus{
   outline: 0;
}
.btn:disabled{
   background-color: var(--line-empty);
   cursor: not-allowed;
}
